<!DOCTYPE html>
<html>
<head>
	<meta name = "viewport" content = "width=device-width,initial-scale=1"/>
	<link rel = "stylesheet" href = "http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css"/>

	<script src = "http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src = "http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js">
	</script>

	<script src = "/socket.io/socket.io.js"></script>
	<script>
	$(document).ready(function(){
		function changeIcon(parent,from,to){
			var target = $('.ui-btn-text',parent).next();//icon 등록
			target.removeClass(from).addClass(to);//기존 icon을 삭제하고 새로운 아이콘 등록
		}
		function changeCount(index,count){//인덱스 값에 해당하는 물품의 수를 조정
			$('li[data-index = ' + index +'].ui-li-count').html(count);
		}
		var socket = io.connect();
		socket.on('count',function(data){//count이벤트 핸들러
			changeCount(data.index, data.count);
		});

		$('.product > a[data-icon]').click(function(){ 
			if($(this).attr('toggle')!='off'){
				var index = $(this).attr('data-index');
				socket.emit('cart',Number(index				changeIcon(this,'ui-icon-check','ui-icon-back');
				$(this).attr('toggle','off');
			}else{
				var index = $(this).attr('data-index');
				if(confirm('물건을 구매하겠습니까?')){//구매할 경우 리스트에서 아이템 제거
					socket.emit('buy',Number(index));
					$(this).parent().remove();
					$('#listview').listview('refresh');
				}else{
					socket.emit('return',Number(index));
					changeIcon(this,'ui-icon-back','ui-icon-check');
				}
				$(this).attr('toggle','on');
			}
		});
	});
</script>
</head>
<body>
	<div data-role = "page">
		<div data-role="header">
			<h1>Store</h1>
		</div>

		<div data-role="content">
			<ul id = "listview" data-role = "listview" data-inset="true"
			data-filter="true">
			<li data-role="list-divider">products</li>
			<% products.forEach(function(item, index){%>
			<li class = "product" data-index = "<%item.index%>">
		<a href = "#">
			<img src = "3.png"/>
			<h3><%= item.name%></h3>
			<p><%= item.price%>원</p>
			<span class = "ui-li-count"><%=item.count%></span>
		</a>
		<a href= "#" data-icon="check" data-index = "<% item.index %>"></a>
	</li>
<%});%>
</ul>
</div>
</div>
</body>
</html>